
.instruction-container{
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
.outter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textarea-container{
    padding: 20px;
}

#first-textarea{

}
#second-textarea{

}

.textarea-placeholder{
    position: relative;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 450px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 227px;
}

.green-text{
    display: inline;
    white-space:pre-wrap;
    color: green;


}

.red-text{
    display: inline;
    white-space:pre-wrap;
    color: red;
}

.congratz-gif{

    position: absolute;
    top: 50%;
    left: calc(50% - 150px);
    width: 300px;
}

.congratz-gif img{
    width: 100%;
}

.congratz-gif button{
    font-style: Arial, Helvetica, sans-serif;
    display: block;
    margin: 20px auto;
    background-color: rgb(49, 125, 225);
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    color: white;
}

.instruction-part{
    text-indent: 25px;
    padding: 70px 9px 9px 290px;
    width: 500px;
    height: 100px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
}

.vs-image{
    margin-top: 120px;
    width: 150px;
    height: fit-content;
}